body {
    padding: 14px;
    margin: 0;
}

.mainWrapper {
    padding: 20px;
    max-width: 800px;
    margin: 0 auto;
}

h1 {
    margin-bottom: 20px;
}

.form-group {
    margin-bottom: 15px;
}

form {
    margin-bottom: 20px;
}

button {
    margin-right: 10px;
    margin-bottom: 10px;
}

button:last-child {
    margin-right: 0;
}

